name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: [self-hosted, Linux, X64]
    container: ghcr.io/computer-organization-at-ncku-ee/co-docker-env:latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Pre-setup
      run: |
        git submodule update --init --recursive
        pwd && ls
        cd riscv-tests/isa
        make -j
    - name: ISS compilation test
      id: iss-compilation-test
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: ISS compilation test
        setup-command: |
          mkdir build && cd build
          cmake ..
        command: |
          cd build
          make -j
        timeout: 10
        max-score: 10
    - name: RV32I unit tests with riscv-tests
      id: rv32i-unit-tests-with-riscv-tests
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: RV32I unit tests with riscv-tests
        command: |
          cd build
          ctest
        timeout: 10
        max-score: 70
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        RV32I-UNIT-TESTS-WITH-RISCV-TESTS_RESULTS: "${{steps.rv32i-unit-tests-with-riscv-tests.outputs.resu}}"
        ISS-COMPILATION-TEST_RESULTS: "${{steps.iss-compilation-test.outputs.result}}"
      with:
        runners: rv32i-unit-tests-with-riscv-tests,iss-compilation-test
